lxml==4.9.2
Mako==1.2.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
mdit-py-plugins==0.4.0
mdurl==0.1.2
mss==9.0.1
mypy-extensions==1.0.0
myst-parser==2.0.0
networkx==2.7.1
numpy==1.23.3
oauthlib==3.2.2
packaging==23.0
parsel==1.6.0
Paste==3.5.2
pathspec==0.11.2
pexpect==4.8.0
pid==2.2.3
pikepdf==8.6.0
Pillow==10.1.0
pipdeptree==2.13.0
platformdirs==3.11.0
play-requests==0.0.5
plotly==5.17.0
pluggy==1.3.0
ply==3.11
podman-compose==1.0.6
productmd==1.37
Protego==0.1.16
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyenchant==3.2.2
PyGithub==1.51
PyHamcrest==2.0.2
PyJWT==1.7.1
pykickstart==3.47
PyMsgBox==1.0.9
pyodbc==4.0.35
PyOpenGL==3.1.6
pyOpenSSL==21.0.0
pyparsing==3.1.1
PyPDF2==1.27.5
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
PyQtWebEngine==5.15.6
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
pytest==7.2.2
pytest-play==2.3.1
pytest-variables==3.0.0
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2020.1
pyudev==0.24.0
pyxdg==0.27
PyYAML==6.0
pyzmq==24.0.1
queuelib==1.5.0
regex==2023.6.3
requests==2.31.0
requests-file==1.5.1
requests-ftp==0.3.1
requests-oauthlib==1.3.1
scipy==1.10.0
Scrapy==2.6.2
sentry-sdk==1.29.2
service-identity==18.1.0
Shapely==1.8.5.post1
simpleline==1.9.0
soupsieve==2.4.1
SpeechRecognition==3.8.1
Sphinx==7.2.6
sphinx-basic-ng==1.0.0b2
sphinx-copybutton==0.5.2
sphinx_contributors==0.2.7
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==2.0.22
sqlparse==0.3.1
Tempita==0.5.2
tenacity==8.2.3
tldextract==5.0.1
tqdm==4.48.2
tweepy==3.9.0
Twisted==22.10.0
typing_extensions==4.8.0
urllib3==1.26.11
virtualenv==20.24.5
w3lib==1.22.0
Werkzeug==3.0.0
whitenoise==5.2.0
xmltodict==0.12.0
zope.component==6.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.1
